.login-container {
  display: flex;
  height: 100vh;

  .left {
    flex: 2;
    padding: 1.5rem 6rem !important;
  }

  @media screen and (max-width: 600px) {
    .left {
      flex: 7;
      padding: 1.5rem 2rem !important;

      .action-btn {
        width: 100%;
      }
    }
  }

  .right {
    flex: 1;
    background-color: #cce5ff;

    .contact-button {
      background-color: #007bff;
      width: 2.6rem;
      height: 2.6rem;
      border: none;
      border-radius: 10px;
      transform: translateX(-1.3rem);
      position: absolute;
      bottom: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .contact-icon {
        fill: white;
        height: 22px;
        width: 22px;
      }
    }
  }
}
